<?xml version="1.0"?>

<config>

  <csv file="/home/uwe/ae/workspace/cubaja/test/de/ufinke/cubaja/csv/test/example2/outputfile.csv"
       header="true"
       separator=";">
    <col name="string" header="a string"/>
    <col name="number" header="a number"/>
    <col name="date" header="a date"/>
  </csv>
  
</config>
